@model HBGBlogOverviewBlock
@{
    var versions = ContentVersionRepository.List((Model as IContent)?.ContentLink);
    var firstVersion = versions.OrderBy(v => v.Saved).FirstOrDefault()?.Saved;
    var currentPage = ContentLoader.Get<HBGBlogDetailPage>(PageRouteHelper.PageLink);
}
@if (currentPage != null)
{
    string fullTags = string.Join(" ", currentPage.GetFullTags());
    var tags = currentPage.GetFullTags();
    <div class="wrap-new-section section-blog-overview">
        <div class="container">
            <div class="row-top">
                <div class="text">
                    @if (tags != null && tags.Any())
                    {
                        <div class="tags">
                            @foreach (var tag in tags)
                            {
                                <span> @tag </span>
                            }
                        </div>
                    }
                    <h1 class="b-title">@Html.PropertyFor(x => currentPage.Title)</h1>
                    <div class="sub-title">@Html.PropertyFor(x =>currentPage.SubTitle)</div>
                </div>
                <ul class="author">
                    @if (!string.IsNullOrEmpty(currentPage.Author))
                    {
                        <li class="name">@currentPage.Author</li>
                    }
                    <li>Block Created on: @firstVersion?.ToString("dd MMMM yyyy")</li>
                </ul>

            </div>
            @if (currentPage.LargeThumbnail != null)
            {
                <div class="thumb">
                    <img width="1300" height="500" class="height-auto lazy-hidden" data-lazy-type="image" data-lazy-srcset="@(!string.IsNullOrEmpty(@Url.ContentUrl(currentPage.SmallThumbnail)) ? $"{@Url.ContentUrl(currentPage.SmallThumbnail)} 575w," : string.Empty) @Url.ContentUrl(currentPage.LargeThumbnail)" alt="@currentPage.LargeThumbnail" />
                </div>
            }
        </div>
    </div>
}