---
export interface HotelProps {
  title: string;
  enTitle: string;
  description: string;
  address: string;
  tel: string;
  email: string;
  image: string;
  detailLink: string;
  class?: string; // Optional class for alignment or visibility
}
---

<div class={`hotel-item ${Astro.props.class || ''}`}>
  <div class="hotel-image">
    <img src={Astro.props.image} alt={Astro.props.title} />
  </div>
  <div class="hotel-info-container">
    <h2 class="hotel-title">{Astro.props.title}</h2>
    <div class="hotel-info">
      <p class="hotel-en-title">{Astro.props.enTitle}</p>
      <p class="hotel-description">{Astro.props.description}</p>
    </div>
    <div class="hotel-contacts">
      <p>Address: {Astro.props.address}</p>
      <p>Tel: {Astro.props.tel}</p>
      <p>Email: <a href={`mailto:${Astro.props.email}`}>{Astro.props.email}</a></p>
    </div>
    <a class="cta-button" href={Astro.props.detailLink}>ホテル詳細ページ</a>
  </div>
</div>
