@model HBGBreadcrumbBlock

@{
    var model = BreadcrumbHelper.GetBreadcrumb(PageRouteHelper.PageLink);

    <div itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb-container hidden-xs">
        <ol class="breadcrumb">
            @for (int index = 0, count = model.Count(); index < count; ++index)
            {
                var item = model.ElementAt(index);
                if ((index + 1) == count)
                {
                    <li class="active">@BreadcrumbHelper.GetBreadcrumbName(item)</li>
                    break;
                }
                @* if (item is HBGStayFarEastFolderPage)
        {
        <li>@GetBreadcrumbName(item)</li>
        continue;
        } *@

                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="@Url.ContentUrl(item.LinkURL)">
                        <span itemprop="name">@BreadcrumbHelper.GetBreadcrumbName(item)</span>
                    </a>
                    <meta itemprop="position" content="@(index + 1)" />
                </li>
            }
        </ol>
    </div>
}