---
import SectionHeading from '../../SectionHeading/index.astro';
const { sectionId, bgColor, title, subtitle, content, contentPosition, images, carouselPosition, para } = Astro.props;
---

<section class={`imgTextAlt-section ${bgColor}`} id={`${sectionId}`}>
    <div class={`culture-section ${contentPosition}`}>
        <div class="container">
            <!-- Heading Section -->
            <SectionHeading title={title} subtitle={subtitle} />
            <div class="grid w-full max-w-[40rem] gap-5 justify-self-center">
                <p class="text-center">{content}</p>
            </div>
        </div>
    </div>
    <div
        class={`flex flex-col md:flex-row ${carouselPosition === 'right' ? 'md:flex-row-reverse slider-right' : 'slider-left'} items-center`}
    >
        <!-- Swiper Image Component -->
        <div class="relative w-full md:w-[95%]">
            <div class="swiper imgTextAlt-swiper">
                <div class="swiper-wrapper">
                    {
                        images.map((image: string) => (
                            <div class="swiper-slide !h-auto">
                                <img src={image} alt="swiper-image" class="w-full object-cover" />
                            </div>
                        ))
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
