---
const { title, enTitle, description, address, addressLink, tel, email, ctaLink, ctaText } = Astro.props;
---

<div class="flex flex-col justify-center p-5 space-y-4">
  <div class="hotel-info-title-container">
    <h2 class="hotel-title line-clamp-2">{title}</h2>
    <p class="hotel-en-title line-clamp-2">{enTitle}</p>
  </div>
  <p class="hotel-description line-clamp-5">{description}</p>
  {(address || tel || email) &&
    <div class="flex flex-col hotel-info-divider-container">
      <div class="hotel-info-divider"></div>
    </div>
  }
  <div class="hotel-contant-info">
    {address && (
      <div class="hotel-info">
        <p class="hotel-info-title">住所:</p>
        <p class="hotel-info-content"><a href={addressLink}>{address}</a></p>
      </div>
    )}
    {tel && (
      <div class="hotel-info">
        <p class="hotel-info-title">TEL:</p>
        <p class="hotel-info-content"><a href={`tel:${tel}`}>{tel}</a></p>
      </div>
    )}
    {email && (
      <div class="hotel-info">
        <p class="hotel-info-title">Email:</p>
        <p class="hotel-info-content">
          <a href={`mailto:${email}`}>{email}</a>
        </p>
      </div>
    )}
  </div>
  {ctaText && (
    <a class="hotel-info-button" href={ctaLink}>
      {ctaText}
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path d="M10.7963 8.49957L6.45129 4.15459C6.33669 4.04 6.28089 3.90358 6.28387 3.74534C6.28685 3.58711 6.34563 3.45064 6.46023 3.33595C6.57482 3.22136 6.71124 3.16406 6.86947 3.16406C7.02771 3.16406 7.16418 3.22136 7.27887 3.33595L11.6948 7.76082C11.799 7.86513 11.8763 7.98198 11.9265 8.11138C11.9769 8.24078 12.0021 8.37018 12.0021 8.49957C12.0021 8.62897 11.9769 8.75837 11.9265 8.88777C11.8763 9.01717 11.799 9.13402 11.6948 9.23833L7.26993 13.6632C7.15533 13.7778 7.02041 13.8336 6.86515 13.8306C6.70979 13.8276 6.57482 13.7688 6.46023 13.6543C6.34563 13.5397 6.28834 13.4032 6.28834 13.245C6.28834 13.0868 6.34563 12.9503 6.46023 12.8356L10.7963 8.49957Z" fill="white"/>
      </svg>
    </a>
  )}
</div>
