@model HBGImageCarouselBlock
@if (Model != null)
{
    string stringSummary = string.Empty;
    string stringClass = string.Empty;
    if (!string.IsNullOrEmpty(Model.StickySummaryText))
    {
        stringSummary = "data-menu='" + Model.StickySummaryText + "'";
        stringClass = "is-menu-sidebar";
    }
    var carousel = ContentLoader.GetChildren<HBGImageCarouselItemBlock>(Model.ChildrenReference);

    if (carousel != null && carousel.Any())
    {
        var checkItem = carousel.Where(x => !string.IsNullOrEmpty(x.ImageCaption)).FirstOrDefault();
        if (checkItem != null)
        {
            stringClass += " enable-caption";
        }
        <div class="block-content block-content-carousel @stringClass" @Html.Raw(stringSummary)>
            <div class="res-owl-carousel owl-carousel s-nav">
                @foreach (var item in carousel)
                {
                    if (item.Image != null)
                    {
                        <div class="thumb">
                            <img class="lazy-hidden" data-lazy-type="image" data-lazy-src="@Url.ContentUrl(item.Image)" alt src="@Url.ContentUrl(item.Image)" />
                            @if (!string.IsNullOrEmpty(item.ImageCaption))
                            {
                                <div class="caption">@item.ImageCaption</div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
}