@model HBGHomeBlock

@{
    var config = Model;
    var position = config != null && config.PositionBookingWidget != null && !string.IsNullOrEmpty(config.PositionBookingWidget.ToString()) ? config.PositionBookingWidget.ToString() : HBGConstants.Middle;
    var currentPage = BlockHelper.GetCurrentPage<HBGHomePage>();
}

<!-- 1st section hotel banner -->
<div class="container-fluid home-banner static-content">
    <input type="hidden" class="noResults" name="noResults" value="" />
    @* value="@Dictionary.GetValue(DictionaryKeys.NoResultsMessage)" *@

    @Html.PropertyFor(x => currentPage.BannerContentArea)

    <div class="banner-content text-center">
        <div class="content-table-container">
            <div class="table-v-middle">
                <h1 class="text-jumbo">@currentPage.WelcomeText</h1>
                <p>@currentPage.Summary</p>
                <div class="SFE_banner_booking_widget hidden-xs hidden-sm @position"> @Html.PropertyFor(x => currentPage.BookingWidgetContentArea)</div>

                <div class="row hidden-desktop @position">
                    <div class="col-md-offset-3 col-md-6 search-wrapper">
                        @if (currentPage.SearchResultsURL != null)
                        {
                            <form id="home-search" method="GET" action="" class="home-banner-search" data-action="@(currentPage.SearchResultsURL.Href)">
                                <!-- search to button -->
                                <div class="input-group searchbar">
                                    <input readonly type="text" autocomplete="off" class="form-control input-lg" id="homebanner-search" placeholder="@currentPage.SearchInputPlaceholder">
                                    <div id="search-params"></div>
                                    <span class="input-group-btn">
                                        <p class="btn btn-lg btn-search"><span class="glyphicon glyphicon-search"></span></p>
                                    </span>
                                </div>
                            </form>
                        }

                    </div>
                    <!-- home banner search -->
                    <div class="">
                        <div class="input-group ">
                            <label class="sr-only" for="homebanner-search">@currentPage.SearchInputPlaceholder</label>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-lg" id="homebannersearch" aria-label="home banner search"></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>

                @if (currentPage.ShowAllLink != null)
                {
                    <div class="inspire-me text-uppercase text-left hidden-xs">
                        <a href="@currentPage.ShowAllLink.Href" class="color-white">@currentPage.ShowAllLink.Text<span class="glyphicon glyphicon-chevron-right color-pink"></span></a>
                    </div>
                }
            </div>
        </div>
        <div class="note color-white hidden-xs hidden-sm"><i>@currentPage.Caption</i></div>
        @if (config != null && config.ShowDownwardArrow && position != HBGConstants.Bottom)
        {
            <div class="banner-arrow hidden-xs">
                <a href="#hotel-recommend" class="color-white scrollto arrow">
                    @* <span>@Dictionary.GetValue(DictionaryKeys.MorePropertiesText)</span><br /> *@
                    <span class="lnr lnr-chevron-down"></span>
                </a>
            </div>
        }
    </div>
</div>