---
const { title, googleMapLink, listItems, imageSrc, youtubeVideoId } = Astro.props;
---

<div class="access-map-head flex flex-col">
    {title &&
        <!-- Slash -->
        <div class="access-map-slash mb-1"></div>

        <!-- Title and Link -->
        <div class="access-map-title flex flex-col sm:flex-row items-start sm:items-center gap-2">
            {title}
            <a 
                href={googleMapLink} 
                target="_blank" 
                rel="noopener noreferrer" 
                class="access-map-link flex items-center hover:underline"
            >
                Google Map
                <span class="ml-1">
                    <img src="/icons/icon_external_link.svg" alt="icon_external_link">
                </span>
            </a>
        </div>
    }

    <!-- Bullet Points -->
    {listItems &&
        <ul class="access-map-list mt-1 list-disc pl-4">
            {listItems.map((item) => (
                <li><span>{item}</span></li>
            ))}
        </ul>
    }

    <!-- Multi-Media Section: Supports Image and/or YouTube Video -->
        <div class="multimedia-section flex flex-col justify-center items-center gap-4 mt-10">
            {youtubeVideoId &&
                <div class="youtube-container">
                    <iframe
                        width="720"
                        height="405"
                        src={`https://www.youtube.com/embed/${youtubeVideoId}`} 
                        title="YouTube Video"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                    </iframe>
                </div>
            }

            {imageSrc &&
                <img src={imageSrc} alt="Access Map" class="max-w-full h-auto shadow-md" />
            }
        </div>
</div>
