---
import SectionHeading from '../SectionHeading/index.astro';
const { sectionId, className, bgColor, title, amenities } = Astro.props;
---
<section class={`${className} ${bgColor}`} id={`${sectionId}`}>
    <div class="amenities-feature-overview-container container">
        <SectionHeading title={title} />
        <div class="amenity-items">
            {amenities.map((amenity, index) => (
                <>
                    <div key={index} class="amenity-item flex items-start border-b py-4">
                        <div class="icon-wrapper flex-shrink-0 flex items-center justify-center h-16 w-16">
                            <img src={amenity.icon} alt={amenity.title} class="icon" />
                        </div>
                        <div class="content flex-1">
                            <h3 class="amenity-title text-lg font-semibold">{amenity.title}</h3>
                            <p class="amenity-description text-sm">{amenity.description}</p>
                        </div>
                    </div>
                    {index !== amenities.length - 1 && <div class="amenity-item-gap"></div>}
                </>
            ))}
        </div>
    </div>
</section>