---
import SectionHeading from '../SectionHeading/index.astro';
const { className, bgColor, title, content, contentPosition, data } = Astro.props;
---
<section class={`${className} ${bgColor}`}>
<div class="container">
   <div class={`culture-section`}>
   <div class="container">
      <!-- Heading Section -->
      <SectionHeading title={title} />
      <div class="section-content">
         <p>{content}</p>
      </div>
      <div class="aminities-img-grid grid grid-cols-2 md:grid-cols-3 gap-6 mt-6">
         {data.map((item) => (
         <a
            href={`#${item.id}`}
            key={item.id}
            class="flex flex-col items-center group"
            >
            <img
               src={item.image}
               alt={item.alt}
               class="shadow-md transition-transform transform group-hover:scale-105"
               />
            <p class="mt-2 text-center text-lg group-hover:underline">
               {item.title}
               <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path d="M10.7967 8.4997L6.45171 4.15472C6.33712 4.04012 6.28131 3.90371 6.28429 3.74547C6.28727 3.58723 6.34606 3.45076 6.46065 3.33607C6.57525 3.22148 6.71166 3.16418 6.8699 3.16418C7.02814 3.16418 7.1646 3.22148 7.27929 3.33607L11.6952 7.76094C11.7994 7.86525 11.8767 7.9821 11.927 8.1115C11.9773 8.2409 12.0025 8.3703 12.0025 8.4997C12.0025 8.62909 11.9773 8.75849 11.927 8.88789C11.8767 9.01729 11.7994 9.13414 11.6952 9.23845L7.27035 13.6633C7.15576 13.7779 7.02083 13.8337 6.86558 13.8307C6.71022 13.8278 6.57525 13.769 6.46065 13.6544C6.34606 13.5398 6.28876 13.4034 6.28876 13.2451C6.28876 13.0869 6.34606 12.9504 6.46065 12.8357L10.7967 8.4997Z" fill="#9D7C36"/>
               </svg>
            </p>
         </a>
         ))}
      </div>
   </div>
</div>
</div>
</section>