@*
    ====================================
    Version: 5.8.0.0. Modified: 20240122
    ====================================
*@

@using EPiServer.Forms.Helpers.Internal
@using EPiServer.Forms.Implementation.Elements
@using EPiServer.Forms.UI.SelectionFactory
@using FEO.CMS.HBG.Business.Forms.FormFields
@model HBGTextboxElementBlock

@{
    var formElement = Model.FormElement;
    var labelText = Model.Label;
    var cssClasses = Model.GetValidationCssClasses();
    var autoComplete = AutoCompleteSelectionFactory.GetStringValue(Model.AutoComplete);
    var labelClasses = string.Format("Form__Element__Caption {0}", Model.LabelCss);
    var inputClasses = string.Format("FormTextbox__Input {0}", Model.FieldCss);
    var rowClasses = !string.IsNullOrEmpty(Model.RowCss) ? Model.RowCss : "required-field scfSingleLineTextBorder form-group has-feedback";
    if(!string.IsNullOrEmpty(rowClasses))
    {
        cssClasses = string.Format(" {0} {1}", cssClasses, rowClasses);
    }
}

@using (Html.BeginElement(Model, new { @class = "FormTextbox" + cssClasses, data_f_type = "textbox" }))
{
    <label for="@formElement.Guid" class="@labelClasses">@labelText</label>
    <input name="@formElement.ElementName" id="@formElement.Guid" type="text" class="@inputClasses"
           aria-describedby="@Util.GetAriaDescribedByElementName(formElement.ElementName)"
           placeholder="@Html.FilterHtml(Model.PlaceHolder ?? "")"
           value="@Model.GetDefaultValue()" @Html.Raw(Model.AttributesString) data-f-datainput
           autocomplete="@autoComplete" />
    @Html.ValidationMessageFor(Model)
    @Model.RenderDataList()
}
