---
import BookingForm from '@/components/RoomListPage/Form.astro';
import SectionHeading from '@/components/SectionHeading/index.astro';
import Pill from '@/components/Pill/index.astro';

const deals = [
    {
        id: 1,
        label: '残り1日',
        labelIcon: '/icons/icon_time-white.svg',
        labelColor: 'bg-[#E56565]',
        title: 'クリスフライヤー（KrisFlyer）会員様向けキャンペーン',
        description: '対象となる滞在の度に、最大500クリスフライヤーマイルを獲得できます。',
        badges: ['最大40%OFF', 'Web予約限定'],
        image: '/assets/images/deal_1.png',
        ctaText: '詳細を見る',
        ctaLink: '/deal-detail'
    },
    {
        id: 2,
        label: '残り1日',
        labelIcon: '/icons/icon_time-white.svg',
        labelColor: 'bg-[#E56565]',
        title: 'ベッド＆ブレックファスト',
        description: '対象となる滞在の度に、クリスフライヤーマイルを獲得できます。',
        badges: ['客室料金・朝食が最大40%OFF', 'Web予約限定'],
        image: '/assets/images/deal_2.png',
        ctaText: '詳細を見る',
        ctaLink: '/deal-detail'
    },
    {
        id: 3,
        label: '会員様限定',
        labelIcon: '/icons/icon_star-filled.svg',
        labelColor: 'bg-black',
        title: 'クリスフライヤー（KrisFlyer）会員様向けキャンペーン',
        description: '対象となる滞在の度に、クリスフライヤーマイルを獲得できます。',
        badges: ['最大40%OFF', 'Web予約限定'],
        image: '/assets/images/deal_3.png',
        ctaText: '詳細を見る',
        ctaLink: '/deal-detail'
    }
];
---

<div class="booking-popup grid">
    <div class="container">
        <SectionHeading title="ご宿泊予約" />
        <BookingForm hotelSelection className="py-0 md:py-0 xl:py-0" />
    </div>

    <div class="mt-12 grid bg-[#3EBDAD] pb-12 md:mt-24 md:pb-14">
        <div class="container overflow-hidden max-xl:!px-0">
            <SectionHeading title="キャンペーン" className="[&_.header-divider]:!bg-color4 [&_h2]:!text-color4" />

            <div class="relative overflow-hidden">
                <div class="swiper swiper--deal-swiper overflow-hidden !pb-12">
                    <div class="swiper-wrapper">
                        {
                            deals.map(deal => (
                                <div class="swiper-slide grid !h-auto w-full max-w-[19.375rem] flex-grow grid-rows-[auto_1fr] content-start bg-color4 md:max-w-[24rem]">
                                    <div class="relative">
                                        <div
                                            class={`absolute left-2 top-2 flex items-center justify-start gap-2 rounded-[3.12rem] px-2.5 py-1.5 text-sm font-500 text-color4 ${deal.labelColor}`}
                                        >
                                            <img width="20" height="20" src={deal.labelIcon} alt={deal.title} />
                                            {deal.label}
                                        </div>
                                        <a href={deal.ctaLink} class="w-full">
                                            <img
                                                src={deal.image}
                                                alt={deal.title}
                                                class="w-full"
                                                width="384"
                                                height="231"
                                            />
                                        </a>
                                    </div>
                                    <div class="grid grid-rows-[auto_1fr] content-start gap-8 p-5 md:gap-12">
                                        <div class="grid gap-4">
                                            <h3 class="line-clamp-2 text-lg font-700 tracking-wider text-color9">
                                                {deal.title}
                                            </h3>
                                            <p class="line-clamp-2">{deal.description}</p>
                                            <div class="flex flex-wrap items-center justify-start gap-2">
                                                {deal.badges.map(badge => (
                                                    <Pill
                                                        text={badge}
                                                        className="md:!text-xs border border-color11 text-color11"
                                                    />
                                                ))}
                                            </div>
                                        </div>

                                        <a
                                            class="button button--dark max-w-[10rem] self-end justify-self-start"
                                            href={deal.ctaLink}
                                            title={deal.title}
                                        >
                                            {deal.ctaText}
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="17"
                                                height="17"
                                                viewBox="0 0 17 17"
                                                fill="none"
                                            >
                                                <path
                                                    d="M10.7963 8.49957L6.45129 4.15459C6.33669 4.04 6.28089 3.90358 6.28387 3.74534C6.28685 3.58711 6.34563 3.45064 6.46023 3.33595C6.57482 3.22136 6.71124 3.16406 6.86947 3.16406C7.02771 3.16406 7.16418 3.22136 7.27887 3.33595L11.6948 7.76082C11.799 7.86513 11.8763 7.98198 11.9265 8.11138C11.9769 8.24078 12.0021 8.37018 12.0021 8.49957C12.0021 8.62897 11.9769 8.75837 11.9265 8.88777C11.8763 9.01717 11.799 9.13402 11.6948 9.23833L7.26993 13.6632C7.15533 13.7778 7.02041 13.8336 6.86515 13.8306C6.70979 13.8276 6.57482 13.7688 6.46023 13.6543C6.34563 13.5397 6.28834 13.4032 6.28834 13.245C6.28834 13.0868 6.34563 12.9503 6.46023 12.8356L10.7963 8.49957Z"
                                                    fill="white"
                                                />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
