@model PageViewModel<HBGArticlePage>

<!-- ARTICLE CONTENT  -->
<div class="article-content container section">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 content">
            @if (Model.CurrentPage.CategoryContentOverride != null)
            {                
                @Html.PropertyFor(x => x.CurrentPage.CategoryContentOverride)
            }
            else if (string.IsNullOrWhiteSpace(Model.CurrentPage.ArticleCategoryName))
            {
                var categoryName = ContentLoader.Get<IContent>(Model.CurrentPage.Category1).Name;
                <p class="category">@categoryName</p>
            }
            else
            {
                <p class="category">@Html.PropertyFor(x=>x.CurrentPage.ArticleCategoryName)</p>
            }

            @if (Model.CurrentPage.TitleContentOverride != null)
            {
                @Html.PropertyFor(x => x.CurrentPage.TitleContentOverride)
            }
            else
            {
                <h2>@Html.PropertyFor(x => x.CurrentPage.Title)</h2>
            }

            @Html.PropertyFor(x => x.CurrentPage.MainContent)
        </div>
    </div>
</div>
